@page "/contacts"
@using Communication = Microsoft.Maui.ApplicationModel.Communication;

<h1>You can choose a specific contact, or get a list of all your contacts</h1>
@if (ctacts is not null)
{
    foreach (var c in ctacts)
    {
        <p>@c.DisplayName</p>
    }
}

@code {
    // public bool callFunction = false;
    public IEnumerable<Contact> ctacts;
    protected override async Task OnInitializedAsync()
    {
        //ntacts = GetContactNamesTry2();
        ctacts = await getContacts();
        var c = await getContacts();
    }

    public async IAsyncEnumerable<string> GetContactNamesTry2()
    {
        var contacts = await Communication.Contacts.Default.GetAllAsync();

        // No contacts
        if (contacts == null)
            yield break;

        foreach (var contact in contacts)
            yield return contact.DisplayName;
    }

    public async Task<IEnumerable<Contact>> getContacts()
    {
        var contacts = await Communication.Contacts.Default.GetAllAsync();
        return contacts;
    }
}