@page "/DeviceDisplayPage"
@using Microsoft.Maui.Devices

<h1>Device Display</h1>
<h4>The Device Display feature gives you information about your device</h4>

<button @onclick=ReadDeviceDisplay>Display Screen Details</button>
<p>@DisplayDetailsLabel.Text</p>

@code {
    public static Microsoft.Maui.Devices.IDeviceDisplay Current { get; } //this line is really important
    public Label DisplayDetailsLabel = new();


    private void ReadDeviceDisplay()
    {
        System.Text.StringBuilder sb = new System.Text.StringBuilder();

        sb.AppendLine($"Pixel width: {Microsoft.Maui.Devices.DeviceDisplay.Current.MainDisplayInfo.Width} / Pixel Height: {Microsoft.Maui.Devices.DeviceDisplay.Current.MainDisplayInfo.Height}");
        sb.AppendLine($"Density: {Microsoft.Maui.Devices.DeviceDisplay.Current.MainDisplayInfo.Density}");
        sb.AppendLine($"Orientation: {Microsoft.Maui.Devices.DeviceDisplay.Current.MainDisplayInfo.Orientation}");
        sb.AppendLine($"Rotation: {Microsoft.Maui.Devices.DeviceDisplay.Current.MainDisplayInfo.Rotation}");
        sb.AppendLine($"Refresh Rate: {Microsoft.Maui.Devices.DeviceDisplay.Current.MainDisplayInfo.RefreshRate}");

        DisplayDetailsLabel.Text = sb.ToString();
    }
}