@page "/email"
@using Microsoft.Maui.ApplicationModel.Communication

<h1>This is the email page</h1>
<button class="button" @onclick="WriteEmail">Send email</button>

@code {
    public async Task WriteEmail()
    {
        if (Microsoft.Maui.ApplicationModel.Communication.Email.Default.IsComposeSupported)
        {

            string subject = "Hello friends!";
            string body = "It was great to see you last weekend.";
            string[] recipients = new[] { "john@contoso.com", "jane@contoso.com" };

            var message = new EmailMessage
                {
                    Subject = subject,
                    Body = body,
                    BodyFormat = EmailBodyFormat.PlainText,
                    To = new List<string>(recipients)
                };

            await Microsoft.Maui.ApplicationModel.Communication.Email.Default.ComposeAsync(message);
        }
    }
}